/* your styles go here */

/* 본문 텍스트로 쓰일 font는 클래스 수정 */
form {
  font-family: 'Nanum Gothic', serif;
  font-size:20px;
}

/* footer용 font로 쓰일 클래스는 신규추가 */
.footer-text {
  font-family: 'Jeju Gothic', serif;
  font-size: 16px;
}

.div_ko {
	font-family: 'Nanum Gothic', serif;
	font-size:18px;
}

.p_ko {
	font-family: 'Nanum Gothic', serif;
	font-size:20px;
}
.jeju {
  font-family: 'Jeju Gothic', serif;
}

.jeju-small {
  font-family: 'Jeju Gothic';
  font-size: 16px;
}

.p_ko_sung{
  font-family: 'Yeon Sung', cursive;
  font-size:20px;
}

.p_ko_alt {
  font-family: 'Nanum Gothic', serif;
  font-size: 15px;
  /* color: #996633; */
}
